@model HomeViewModel

<head>
    <link rel="stylesheet" href="~/css/HomePage.css" />
</head>
<div class="container-fluid text-center big-container" style="border-color: lightblue;">
    <div class="row">
        <div class="col-md-4"><div style="font-style: oblique; font-size: 1.5em">Luni & Marti</div></div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>
    <div id="empSelectionMondayTuesday" class="row btn-group">
        @foreach (var emp in Model.Employees)
        {
            <div style="padding: 5px;">
                <input type="checkbox" name="emp-checkboxes" id="@(string.Format("empSelectionMondayTuesday{0}",emp.Id.ToString()))" />
                <label class="customLabel" for="@(string.Format("empSelectionMondayTuesday{0}",emp.Id.ToString()))" data-IdForValue="@(string.Format("empSelectionMondayTuesday{0}",emp.Id.ToString()))" onselectstart="return false">@emp.FirstName @emp.LastName</label>
            </div>
        }
    </div>
</div>
<br />
<br />
<br />
<div class="container-fluid text-center big-container" style="border-color: lightsalmon;">
    <div class="row">
        <div class="col-md-4"><div style="font-style: oblique; font-size: 1.5em">Miercuri & Joi</div></div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>
    <div id="empSelectionWednesdayThursday" class="row btn-group">
        @foreach (var emp in Model.Employees)
        {
            <div style="padding: 5px;">
                <input type="checkbox" name="emp-checkboxes" id="@(string.Format("empSelectionWednesdayThursday{0}",emp.Id.ToString()))" />
                <label class="customLabel" for="@(string.Format("empSelectionWednesdayThursday{0}",emp.Id.ToString()))" data-IdForValue="@(string.Format("empSelectionWednesdayThursday{0}",emp.Id.ToString()))" onselectstart="return false">@emp.FirstName @emp.LastName</label>
            </div>
        }
    </div>
</div>

@section Scripts
{
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script>
        $('#empSelectionMondayTuesday .customLabel').click( function () {
            var checkedVal = string.concat( "#",$(this).data("IdForValue"));
            alert(checkedVal);
            $(checkedVal).is('checked') == true ? $(checkedVal).prop("checked", false) : $(checkedVal).prop("checked", true);
        });
        $('#empSelectionWednesdayThursday .customLabel').click( function () {
            var checkedVal = string.concat( "#",$(this).data("IdForValue"));
            alert(checkedVal);
            $(checkedVal).is('checked') == true ? $(checkedVal).prop("checked", false) : $(checkedVal).prop("checked", true);
        });
    </script>

}