@model WorkDays.ViewModels.HomeViewModel
<head>
    <link rel="stylesheet" href="~/css/HomePage.css" />
</head>
<div id="titleText" class="text-center">
    <h1>Alege ziua si persoanele care vor veni la birou</h1>
</div>

<form>
    <div id="weekDetails" class="container">
        <div class="row">
            @*TODO: Selectie saptamana + afisare *@
            <div class="col-md-4">Saptamana xx</div> @*TODO: Add from model*@
            <div class="col-md-4">Inceput saptamana: #saptamana.day1 </div>
            <div class="col-md-4">Sfarsit saptamana: #saptamana.day5 </div>
        </div>
    </div>
    <div id="empSelectionMondayTuesday" class="container-fluid flex-container">
        @foreach (var emp in Model.Employees)
        {
            <div class="flex-item">
                <input type="checkbox" name="emp-checkboxes" value="@emp.Id" id="@emp.Id" />
                <label class="customLabel" for="@emp.Id">@emp.FirstName @emp.LastName</label>
            </div>
        }
    </div>
    <div id="empSelectionWednesdayThursday" class="container-fluid flex-container" style="padding-top: 100px;">
        @foreach (var emp in Model.Employees)
        {
            <div class="flex-item">
                <input type="checkbox" name="emp-checkboxes" value="@emp.Id" id="@emp.Id" />
                <label class="customLabel" for="@emp.Id">@emp.FirstName @emp.LastName</label>
            </div>
        }
    </div>
</form>
